*{margin: 0px; padding: 0px;}
			
			.content{
				width: 727px;
				height: 414px;
				margin: 100px auto;				
				position: relative;
				overflow: hidden;
				border: 1px solid #ccc;
			}
			
			.content ul{
				list-style: none;
			}
			
			.content ul li{
				width: 643px;
				height: 414px;
				background-color: #ffffff;
				position: absolute;
			}
			
			.content ul li span{
				display: block;
				float: left;
				width: 20px;
				height: 414px;
				text-align: center;	
				color: #666666;
				cursor: pointer;		
				padding-top:10px;
				border-radius: 3px;	
			}
			
			.content ul li img{
				display: inline-block;
				width: 622px;
				height: 414px;
				float: right;
			}
			
			.bar01{
				left: 0px;
			}
			
			.bar02{
				left: 643px;
			}
			.bar03{
				left: 664px;
			}
			
			.bar04{
				left: 685px;
			}
			
			.bar05{
				left: 706px;
			}

			
			.bar01 span{
				background-color: #12D6E9;
			}
			
			.bar02 span{
				background-color: #87F6F5;
			}
			
			.bar03 span{
				background-color: #C8F8B0;
			}
			
			.bar04 span{
				background-color: #E0F9D6;
			}
			
			.bar05 span{
				background-color: #FFE6BF;
			}
			