*{margin: 0px; padding: 0px;}
			.btn{
				position: absolute;
				left: 275px;
				top: 70px;
			}
			.roll{
				width:500px;
				height: 170px;
				overflow: hidden;
				border: 1px solid red;
				border-radius: 10px;
				margin: 100px auto 0px;
				position: relative;
			}
			.roll ul{
				position: absolute;
				top: 0px;
				left: 0px;
				list-style: none;
				width: 1000px;
				height: 170px;
			}
			.roll ul li{
				float: left;			
				width: 90px;
				height: 150px;
				margin: 10px 5px;	

			}
			.roll ul li img{
				width: 90px;
				height: 150px;

			}